* {
    Box-sizing: border-box;
}

html {
    font-size: 100%;
}

html,body {
    margin: 0;
    background-color: #c6c3c3;
}

/* TOP HEADER */

.top-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    background-color: #000000;
    position: sticky;
    top:0;
    color: #fafafa; 
    padding:10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

i {
    margin-right: 5px;
}

.footer-color a:link, .top-header a:link, .head2 a:link {
  color: #fafafa;
  text-decoration: none;
}

/* visited link */
.footer-color a:visited, .top-header a:visited, .head2 a:visited {
  color: #fafafa;
  text-decoration: none;
}

/* mouse over link */
.footer-color a:hover, .top-header a:hover, .head2 a:hover {
  color: #ffc72c;
  text-decoration: none;
}

/* selected link */
.footer-color a:active, .top-header a:active, .head2 a:active {
  color: #fafafa;
  text-decoration: none;
}

/* SECOND HEADER */

.header-2 {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#000000;
    margin-top: 2px;
    position: sticky;
    top:0;
    padding:23px 0 21px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.order-button {
    display:flex;
    border-radius: 25px;
    margin:10px;
    align-items:center;
    background-color: #ffc72c;
    padding: 11px 22px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* unvisited link */
.o a:link {
    color: #000000;
  text-decoration: none;
  }
  
  /* visited link */
  .o a:visited {
    color: #000000;
    text-decoration: none;
  }
  
  /* mouse over link */
  .o a:hover {
    color: #fafafa;
    background-color:red;
    text-decoration: none;
  }
  
  /* selected link */
  .o a:active {
    color: #000000;
    text-decoration: none;
  }

.logo2 {
    margin-bottom:-17px;
} 

/* MENU HEADER */

h1 {
    margin-left: 49%;
    margin-right:49%;
    font-size: 50px;    
    font-family: Impact, fantasy;
    margin-top: 70px;
}

.flex-items {
    display: flex;
    justify-content:space-evenly;
    background-color:#ffc72c;
    margin-left:20px;
    flex-wrap:wrap;
    margin-right: 20px;
    font-weight: bold;
    font-size: 14px;
    padding: 20px;
    border-radius: 25px;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.flex-items a:link {
    color: #000000;
    text-decoration: none;
  }
  .flex-items a:visited {
      color: #000000;
    text-decoration: none;
  }
  
  .flex-items a:hover {
    color:#000000;
    text-decoration: none;
    }
  
  .flex-items a:active {
    color:#000000;
    text-decoration: none;
  }

 .pie, .Fish-sandwich, .bacon-cheese-burger, .hand-breaded-chicken-combo {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction:column;
    text-align: center;
    background-color: #ffffff;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 30px;
    border-radius: 10%;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.view-details {
    border-radius: 25px;
    margin:10px;
    background-color: #ffc72c;
    padding: 12px 20px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.space {
    margin-bottom:-16px;
    font-weight: bold;
}

.top {
    margin-top: 17px;
    font-size: 14px;
}

.footer-bullets {
    list-style-type: none;
}

.footer-color {
    flex-wrap: wrap;
    background-color: #000000;
    color:#ffffff;
    /* display:flex; */
    justify-content: space-evenly;
    
}

.footer-icons {
    flex-wrap: wrap;
    background-color:#000000;
    /* display: flex; */
     justify-content: center; 
     /* padding-right: 402px;  */
    
}

.space-between {
    padding-right:10px;
}

 .testing {
  display: flex;
  justify-content: center;
} 

 .t, .copyright-info {
    display: inline-block;
    
}

.footer-bullets .t {
  margin-left: 100px;
  padding:0;
}


