.box {
    height: 200px;
    width: 100%;
    background-color: green;
    margin-bottom: 20px;
    border: 1px solid black;
    font-size: 50px;
}

.test-position {
    position: sticky;
    top:0;
}