.main {
    max-width: 730px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    /*margin-left: 50px;*/
    font-size: 100%;
    
    
    
}
.button {
    margin-top: 20px;
    border-radius: 25px;
    border-width: thin;
}
.button:hover {
  cursor: pointer;
}
p {
  margin: auto;
}
fieldset {
  background-color:#d4e9e2;
  border: transparent;
  padding: 11% 10% 26%;
  
}
a:link, a:visited, a:active {
  text-decoration: none;
  color:black;
}


